// cover some element-ui styles
.el-menu {
  background: none;
  border-right: none;
}

.el-menu-item,
.el-submenu__title {
  color: #a3aab1;

  &:focus {
    background: none;
  }

  &:hover,
  &.is-active {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .svg-icon{
    vertical-align: middle !important;
    margin-right: 5px !important;
  }
}

.login-form {
  .el-form-item {
    &:last-child {
      margin-bottom: 0;
    }

    .el-form-item__label {
      color: #fff;
    }

    .el-input__inner {
      padding-right: 30px;
    }
  }
}
/**
 * 卡片样式
 */
.el-card {
  .el-card__header {
    padding: 10px 15px;
  }
}
