@import './normalize.scss';
@import './element-ui.scss';

html,
body,
#app {
  height: 100%;
}

/* 
 *flex布局 
 */
.flex-box {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;

  .flex-item-1 {
    flex: 1;
  }

  .flex-item-2 {
    flex: 2;
  }

  .flex-item-3 {
    flex: 3;
  }
}
/* 
 *自定义滚动条样式 
 */
.scrollbar{
  &::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/  
    height: 1px;  
  }
  
  &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/  
    border-radius: 5px;  
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);  
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);  
    background: #aaaaaa;  
  }
  
  &::-webkit-scrollbar-track {/*滚动条里面轨道*/  
    // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1); 
    // box-shadow: inset 0 0 5px rgba(0,0,0,0.1);  
    // border-radius: 5px;  
    background: #f0f2f5;  
  }
}